<div class="conatiner-main-category-add">

  <div class="d-flex justify-content-between align-items-center">
   <div class="container-main category-add-title">
     <p class="fs-1 fw-bold">Add Category</p>
   </div>

   <div class="back-button-product mb-8 mb-sm-0">
     <button type="button" class="btn btn-danger" (click)="goBack()">
       <i class="fa-solid fa-arrow-left"></i> Back
     </button>
   </div>
  </div>

  <div class="card col-md-6 p-2 mb-3">
      <form [formGroup]="categoryForm" class="p-formgrid p-fluid" (ngSubmit)="onSubmit()">
        <!-- ID -->
        <div class="p-field mt-2">
        <label for="id">ID</label>
        <p-inputNumber id="id"  formControlName="id" class="p-inputtext-sm"></p-inputNumber>
        </div>

        <!-- Category Name -->
        <div class="p-field mt-2">
          <label for="category_name">Product Name</label>
          <input id="category_name" type="text" pInputText formControlName="category_name" required />
        </div>

        <!-- Save Changes Button -->
      <div class="d-flex justify-content-end p-2 mt-3">
        <button type="submit" label="Save Changes" class="btn btn-success btn-sm p-2"><i class="fa-solid fa-floppy-disk"></i>
          Save Changes
        </button>
      </div>
    </form>
  </div>
</div>


