
nav{
  height: 100%;
}

.icon-header {
  color: #FFFF;
}

.title-header {
  margin-right: 10px;
  text-decoration: none;
}

.side-nav-button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
}

.side-nav-button:hover{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30%;
}
