.black-border {
  border: 1px solid black;
}

.app-header-layout {
  position: fixed;
  width: 100%;
  top: 0;
  height: 4rem;
  z-index: 2;
  background-color: #fff;
}

main {
  display: flex;
}

app-side-nav-layout {
  width: 60px;
  height: 120vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(34, 34, 34, 1);
  border-top: 1px solid white;
  color: white;
  overflow-x: hidden;
  white-space: nowrap;
  transition: width 250ms ease-in;
}

.app-side-nav-layout-open{
  width: 250px;
}

.display-area {
  position: absolute;
  left: 60px;
  width: calc(100% - 250px);
  transition: left 250ms ease-in, width 250ms ease-in;
}

.display-area-shrink {
  left: 250px;
  width: calc(100% - 250px);
}

